.searchBoxContainer {
  margin-bottom: 20px;
  width: 350px;
}

.searchBoxContainer label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.searchBoxContainer input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}